body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: #333;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
A {
 color: #000000; /* Цвет ссылок */
}
A:visited {
 color: #000000; /* Цвет посещенных ссылок */
}
A:active {
 color: #000000; /* Цвет активных ссылок */
}
a {
  text-decoration: none; /* Отменяем подчеркивание у ссылки */
  }
a:hover{
box-shadow:  0px 0px 0px #3c3c3c;
}

::selection{
  color: #d52828; /* Цвет текста */
 background: #000; /* Цвет фона */
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Header */
.header { /*бошка*/
    width: 100%;
    padding-top: 30px;

    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #121212;

}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header__logo:hover {
    filter: blur(1px);
    box-shadow: #0003ff  ;
}

.logo_png{
height: 50px;
position: ;
left: 1%;
top:2%
}

/*кнопки для навигации*/
/* Nav */
.nav {
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease;
    margin-right: 20px;
}

.n1{
  width: 40px;
  margin-left: 20px;
  transition: All 0.2s ease;

}

.n1:hover {
  transform: translate(2px, 3px);
  box-shadow: 0px 0px 5px rgba(245, 0, 0, 0.68);
  filter: blur(1px);
}




.teachers{
  display: flex;
  position: relative;
}

.flex-container {
  display: flex;; /* flex || inline-flex */
  margin: auto;
}

.t_teachers {
  border-spacing: 7px 11px;
  }

th{
  padding: 40px;
}

.tr1
.th1
.t_teachers{
  border: 3px;
  border-color: #0b0b0b;
  flex-wrap: wrap;
  margin: 20px;
}
th {
  padding: 40px;

  /*border: 1px solid #000000;*/
}
td {
  font-size: 0.8em;
  padding: 5px 7px;
  /*/*border: 1px solid #000000;*/*/
}



/*--------------------------учителки-----------------------------------*/
.tr1
.th1{
  margin: 122px;
  border-radius: 19px;
  background: linear-gradient(315deg, #e6e6e6, #ffffff);
  box-shadow:  -20px -20px 60px #969696,
               20px 20px 60px #ffffff;
/*border-radius: / ;*/
transition: All 0.2s ease;
z-index: 10;
position: relative;
  z-index: 2;
          }

          .tr1
          .th1:hover{
            background: linear-gradient(315deg, #f4f2f2, #cdcbcb);
            box-shadow:  -27px -27px 54px #6f6f6f,
                         27px 27px 54px #ffffff;
          }
          .tr1
          .th1::before{
            background: #fff;
            content: "";
  position: absolute;
  z-index: 1
          }

  .img_techer{

  }
}
li:before {
content: "\xf118"; /* добавляем иконку */
font-family: FontAwesome;
color: #aaaaaa;
margin-right: 10px;
}
  text{
  }
/*<!----------------------------------------------->*/




/*подвал*/
.info {
  background-color: #444;
  position: fixed; /* Фиксированное положение */
  left: 0; bottom: 0; /* Левый нижний угол */
  padding: 5px;
  width: 100%;
  height: 15px;
  filter: alpha(Opacity=70);
  color: #ffffff;
}
.info__liniya {
}

.padding1{
  margin: 0;
}
